# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/

# IntelliJ related
.idea/
*.iml

# VS Code related
.vscode/

# Others
*.log
*.tmp
*.swp
